/* *{
    margin: 0;
    padding: 0;
} */
.nested-menu{
    border: 0.8 px solid rgb(0, 0, 0);
    height:94vh;
    background-color: rgb(234, 231, 228);
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} 

.dasboard{
    width: 100%;
    height: 100%;
    display: flex;
     flex-direction: column;
  
} 


 .menuDiv{
    display:flex;
} 
.menu-item{
    font-weight: bold;
    margin: 10px;
  
}